
.user-auth h1{
    color: blueviolet;
    margin-bottom: 80px;
    margin-top: 50px;
    text-align: center;
}

.user-auth{
    margin-bottom: 100px;
}

.common-form p{
    margin-top: 20px;
}

.common-form a{
    color: blueviolet;
    cursor: pointer;
}
